DirectoryIndex index.html index.txt
Options -Indexes
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>
RewriteEngine On
RewriteRule ^list/([-A-z0-9]+)/?(.*)$ /list.php?id=$1&why=$2 [L,QSA]
