body {
background: #ffffff;
			font-family: monospace;
			text-align: center;
margin: 5em;
}

.content {
	text-align: left;
	max-width: 40em;
}

.sub {
color: green;
}

.un {
color: red;
}

h2 {
	-moz-animation-duration: 3s;
	-webkit-animation-duration: 3s;
	-moz-animation-name: slidein;
	-webkit-animation-name: slidein;
}

@-moz-keyframes slidein {
	from {
		margin-left:100%;
width:300%
	}

	75% {
		font-size:300%;
		margin-left:25%;
width:150%;
	}

	to {
		margin-left:0%;
width:100%;
	}
}

@-webkit-keyframes slidein {
	from {
		margin-left:100%;
width:300%
	}

	75% {
		font-size:300%;
		margin-left:25%;
width:150%;
	}

	to {
		margin-left:0%;
width:100%;
	}
}
